body {
    font-family: 'Lato', sans-serif;
    background-image: url('includes/img/63254545-circus-wallpapers.jpg');
    background-size: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: rgb(99, 16, 6);
    border-bottom: 5px dotted rgb(99, 16, 6);
}

.container {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0,0.5);
}

p, a {
    color: grey;
    line-height: 1.7em;
    font-size: 15pt;
}

nav {
    background-color: rgba(99, 16, 6, 0.7);
}

nav a {
    background-color: black;
    color: grey;
    padding: 5px;
    text-decoration: none;
    font-size: 18pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: rgb(188, 40, 3);
}

h3 {
    color: grey;
}

img {
    display: block;
    margin: 0 auto;
}

#homeh1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: none;
}

#home {
    text-align: center;
}